/*-----------------------------------colors

#2B4F22 (green) color in logo
bfbfbe (green callout color)
#9670ab (purple)
#bb2a1e (Red/Orange)
#bbac1e (Yellow)
#628457 (light Green)
#730800 (Dark Red/Orange)
#fff59c (Light Yellow)
#8D98A7 (manatee)
#A7754D (brownish)
#DCCCBB (bone)
#EAB464 (sunray)
#77AF9C
#DBD2E0 (grey)nav

*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #171717;
  background-color: #dbd2e0;
}

.container-navbar {
  background-color: #dbd2e0;
}

.container-callout {
  height: 100vh;
  /*--css.tricks.com--*/
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero-img.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-our-story,
.container-coaches,
.container-reviews {
  height: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container-our-story {
}

.container-coaches {
}

.container-success {
}

/*-----------------------------------colors */

.nav-link-color {
  color: #2b4f22;
}

.navbar-toggler-color {
  color: #2b4f22;
}

.footer-color {
  background-color: #9670ab;
  color: #2b4f22;
}

.footer-nav-color {
  color: #2b4f22;
}

.btn-callout--green {
  color: #dbd2e0;
  background-color: #2b4f22;
}

.btn-callout--green:hover {
  color: #2b4f22;
  background-color: #dbd2e0;
}

.container-our-story--purple {
  background-color: #9670ab;
}

.container-reviews--green {
    background-color: #2b4f22;
}

/*-----------------------------------misc */

.uppercase {
  text-transform: uppercase;
}

.cite-signature {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
  float: right;
  margin: 1rem;
}

/*-----------------------------------logo */

.logo {
  max-width: 120px;
}

/*-----------------------------------jumbotron */

.jumbotron {
  background-color: #9670ab5b;
  border-radius: 10%;
}

.jumbotron-callout,
.jumbotron-header,
.jumbotron-paragraph {
  color: #f3f3f3;
}

.jumbotron-callout {
  position: absolute;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 54px;
  padding-bottom: 0;
  right: 20px;
  font-size: 0.5rem;
}

.jumbotron-paragraph {
  font-size: 0.75rem;
}

/*-----------------------------------navbar */

.navbar-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 130%;
  letter-spacing: 2px;
  margin-left: auto;
}

.navbar-menu li {
  font-weight: 600;
  margin-right: 30px;
}

.navbar-menu a:hover {
  color: #9670ab;
  border-bottom: 1px solid #9670ab;
}

.nav-active {
  border-bottom: 1px solid #2b4f22;
}

.bars-toggler {
  font-size: 2em;
  color: #2b4f22;
}
/*-----------------------------------callout */

.callout-header {
  color: #dbd2e0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/*-----------------------------------our story */

.our-story-header,
.coach-header,
.reviews-header {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  margin-bottom: 23px;
}
.our-story-header {
     color:#2b4f22;
}

.our-story-paragraph {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin: 10px 20px;
 
}

.our-story-img {
  padding: 15px 25px;
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

.our-story-img img {
  width: 100%;
}
/*-----------------------------------coach */

.coach-header {
  color: #2b4f22;
}

.coach {
  margin-top: 16px;
  text-align: center;
}

.coach img {
  margin-bottom: 16px;
}

.coach .col-4 {
  max-width: 25%;
}

.coach .col-8 {
  max-width: 75%;
}

.coach-image {
  height: 150px;
  width: 150px;
}

.blockquote-coach {
    margin-right: 2rem;
    margin-left: 2rem;
}

.coach-two {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 575px) {
  /* www.w3schools.com position info helped me figure out my positioning issue */
  .coach-two {
    position: static;
  }
}

/*-----------------------------------reviews */

.reviews-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 10px;
}

.reviews-header {
    color: #beb7c2;
}
/* Build Responsive Real World Websites with HTML5 and CSS3 with  Jonas Schmedtmann */

.blockquote-reviews {
    color: #beb7c2;
    font-style: italic;
    padding: 2%;
    line-height: 145%;
}


/*-----------------------------------footer */

footer {
  height: 150px;
}

.social-links,
.footer-nav {
  text-align: center;
  margin-top: 10px;
  list-style: none;
}

.social-links li {
  display: inline;
  margin-right: 20px;
}

.social-links i {
  font-size: 160%;
  color: #2b4f22;
  margin: 0 auto;
  padding: 8%;
}

.social-links i:hover,
.footer-nav i:hover {
  color: #beb7c2;
}

.footer-nav li {
  display: inline;
  margin-right: 20px;
}

.footer-nav i {
  font-size: 160%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
}

.footer-location {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.footer-location h5,
.footer-location p {
  margin-top: 25px;
  letter-spacing: 2px;
}
.footer-location h5 {
  font-weight: 600;
  font-size: 80%;
}

.footer-location p {
  font-size: 70%;
  line-height: 20px;
}

.footer-location a {
    color: #2b4f22;
}

.footer-location a:hover {
    color: #beb7c2;
    text-decoration: none;
}