/*-----------------------------------colors

#2B4F22 (green) color in logo
bfbfbe (green callout color)
#9670ab (purple)
#bb2a1e (Red/Orange)
#bbac1e (Yellow)
#628457 (light Green)
#730800 (Dark Red/Orange)
#fff59c (Light Yellow)
#8D98A7 (manatee)
#A7754D (brownish)
#DCCCBB (bone)
#EAB464 (sunray)
#77AF9C
#DBD2E0 (grey)nav

*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-navbar {
  background-color: #dbd2e0;
}

.container-callout {
  height: 100vh;
  /*--css.tricks.com--*/
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero-img.jpg) no-repeat bottom left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-our-story {
}

.container-coaches {
}

.container-success {
}

/*-----------------------------------colors */

.nav-link-color {
  color: #2b4f22;
}

.navbar-toggler-color {
  color: #2b4f22;
}

.footer-color {
  background-color: #9670ab;
  color: #2b4f22;
}

.footer-nav-color {
  color: #2b4f22;
}

.btn-callout--green {
    color: #9670ab;
    background-color: #2b4f22;
}

/*-----------------------------------misc */

.uppercase {
  text-transform: uppercase;
}

/*-----------------------------------logo */

.logo {
  max-width: 120px;
}

/*-----------------------------------jumbotron */

.jumbotron { 
    background-color: transparent;
}

.jumbotron-callout {
    color: #fff;
    position: absolute;
    bottom: -50;
    right: 0;
    font-size: 0.5rem;
}

/*-----------------------------------navbar */

.navbar-menu {
  font-family: "Montserrat", sans-serif;
  font-size: 130%;
  letter-spacing: 2px;
  margin-left: auto;
}

.navbar-menu li {
  font-weight: 600;
  margin-right: 30px;
}

.navbar-menu a:hover {
  color: #9670ab;
  border-bottom: 1px solid #9670ab;
}

.nav-active {
  border-bottom: 1px solid #2b4f22;
}

.bars-toggler {
  font-size: 2em;
  color: #2b4f22;
}
/*-----------------------------------callout */

.callout-header {
    color: #DBD2E0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}



/*-----------------------------------coach */

.coach-image {
  height: 150px;
  width: 150px;
}

/*-----------------------------------success stories */

.success-stories-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/*-----------------------------------footer */

footer {
  height: 150px;
}

.social-links,
.footer-nav {
  text-align: center;
  margin-top: 10px;
  list-style: none;
}

.social-links li {
  display: inline;
  margin-right: 20px;
}

.social-links i {
  font-size: 160%;
  color: #2b4f22;
  margin: 0 auto;
  padding: 8%;
}

.social-links i:hover,
.footer-nav i:hover {
  color: #beb7c2;
}

.footer-nav li {
  display: inline;
  margin-right: 20px;
}

.footer-nav i {
  font-size: 160%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
}

.footer-location {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.footer-location h5,
.footer-location p {
  margin-top: 25px;
  letter-spacing: 2px;
}
.footer-location h5 {
  font-weight: 600;
  font-size: 80%;
}

.footer-location p {
  font-size: 70%;
  line-height: 20px;
}
